{% extends "layout.html" %}
{% block body %}

<input id='tweeturl' class="form-control" type='text' placeholder='Tweet URL' name='tweeturl' ></input>
<p>
<button class="btn btn-default" onclick='submit_tweet()' >bibTeX that</button>

<div class="jumbotron" id="splat">
    <h3 style="color:#000;" id="loadingmsg"></h3>
    <pre align="left" id="resultarea"></pre>
</div>

<script>
    function submit_tweet() {
        splat      = document.getElementById( "splat" );
        loadingmsg = document.getElementById( "loadingmsg" );
        resultarea = document.getElementById( "resultarea" );
        
        tweeturl = document.getElementById( 'tweeturl' ).value;
 
        loadingmsg.innerHTML = "Looking up your tweet...";

        $.ajax({ 
            url: $SCRIPT_ROOT + '/',
            type : 'POST',
            data : { tweeturl : tweeturl, },
            success : function(data){
                data = jQuery.parseJSON( data );
                loadingmsg.innerHTML = "Here you go.";
                resultarea.innerHTML = data;
            },
            cache: false,
            error: function(jqXHR, textStatus, errorThrown) {
                if( jqXHR.status == 400 ) { resultarea.innerHTML = 'Huh.'; }
                if( jqXHR.status == 404 ) { resultarea.innerHTML = 'That\'s weird.'; }
                if( jqXHR.status == 405 ) { resultarea.innerHTML = 'Wat.'; }
            },
            dataType: "text",
            timeout: 30000 });
    }

</script>

{% endblock %}
